/* .navbar {
    background-color: rgb(47, 88, 163);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
} */

.navbar1 {
    background-color: rgb(47, 88, 163);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}